<style>
  * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  body {
    background: #ebebeb;
  }
  footer {
    background: #c0c0c0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  }
  .box__nav {
    max-width: 1110px;
    margin: 0 auto;
  }
  h1 {
    font-size: 60px;
    color: #333533;
    padding: 10px 0;
    text-shadow:-1px -1px #c0c0c0, 0 1px 0 #ebebeb;
    margin-left: 20px;
  }
  .main {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
  }
  .container {
    display: flex;
    margin: 30px 20px;
    background-color: #c0c0c0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.8);
    min-width: 303px;
  }
  .name__title {
    font-size: 25px;
    color: #333533;
    margin: 0 0 10px 0;
    text-align: right;
  }
  .message__title {
    font-size: 25px;
    color: #333533;
  }
  input {
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 5px;
    color: #333533;
    margin: 0 0 10px 10px;
  }
  textarea {
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    color: #333533;
    margin: 0 0 10px 10px;
  }
  .btn {
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 5px;
    background-color: #ffee32;
    color: #333533;
  }
  .flex {
    display: flex;
  }
  .messages__title {
    font-size: 20px;
    color: #333533;
    margin-right: 10px;
  }
  .text__message {
    font-size: 20px;
  }

  .red {
    color: rgb(235, 0, 0);
  }
  .yellow {
    color: rgb(235, 235, 0);
  }
  .blue {
    color: rgb(0, 0, 235);
  }
  .green {
    color: rgb(0, 135, 0);
  }
  .orange {
    color: rgb(235, 152, 0);
  }
  .pink {
    color: rgb(200, 0, 200);
  }
  /* .color {
    background-color: #333533;
    background-color: #ffd100;
    background-color: #ebebeb;
    background-color: #ffee32;
    background-color: #c0c0c0;
  } */
</style>

<footer>
  <div class="box__nav">
    <h1>myChat</h1>
  </div>
</footer>

<div class="main">
  <div class="container">
    <div class="box__titles">
      <p class="name__title">Имя:</p>
      <p class="message__title">Сообщение:</p>
    </div>
    <form id="messForm">
      <input type="text" name="name" id="name" placeholder="Введите имя">
      <br>
      <textarea name="message" id="message" placeholder="Введите сообщение"></textarea>
      <br>
      <input type="submit" value="Отправить" class="btn">
    </form>
  </div>

  <div class="container">
    <div class="flex">
      <p class="messages__title">Сообщения:</p>
      <div id="all_mess"></div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let min = 1;
    let max = 6;
    let random = Math.floor(Math.random() * (max - min)) + min;
    let alertClass;
    switch (random) {
        case 1:
            alertClass = 'red';
            break;
        case 2:
            alertClass = 'yellow';
            break;
        case 3:
            alertClass = 'blue';
            break;
        case 4:
            alertClass = 'green';
            break;
        case 5:
            alertClass = 'orange';
            break;
        case 6:
            alertClass = 'pink';
            break;
    }
      $(function() {
        let socket = io.connect();
        let $form = $("#messForm");
        let $name = $("#name");
        let $textarea = $("#message");
        let $all_messages = $("#all_mess");
        $form.submit(function(event) {
            event.preventDefault();
            socket.emit('send mess', {mess: $textarea.val(), name: $name.val(), className: alertClass});
            $textarea.val('');
        })
        socket.on('add mess', function(data) {  
            $all_messages.append("<div class='text__message " + data.className + "'><b>" + data.name + "</b>: " + data.mess + "</div>");
        }) 
      });
  </script>